/* General Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	min-height: 100vh;
	font-family: Roboto, sans-serif;
	display:flex;
	flex-direction: column;
	overflow: hidden;
}

main{
	flex-grow: 1;
	width: 90%;
	margin: 2em auto;
}

